/* Package.html */

.package-body {
    position: relative;
    background-color: #fdf5f5;
    color: rgb(2, 2, 2);
}

.package-heading {
  background-color: #151515;
  background-image: url("https://images.pexels.com/photos/346286/panorama-miami-florida-water-346286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  
    padding: 100px;  
}
.package-heading h1 {
    margin-top: 20px;
    font-size: 40px;
    color: white;
}

.package-heading p{
    color: white;
    
}

.package3 {
    display: grid;
    padding: 10px;
    gap: 0px;
}

.package-title {
    text-align: center;
}


.package-title h2 {
    font-size: 30px;
    font-weight: 650;
    padding-bottom: 10px;
    line-height: 2;
}

.pack3-content {
    background-color: #fdf5f5;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #3b3737;
    background: linear-gradient(#445056, #47addd 45%, #fff 45%, #fff 100%);
    padding: 25px;
    padding-right: 50px;
    display: flex;
    margin-top: 5px;
    margin-left: 149px;
    margin-right: 149px;
    margin-bottom: 1px;
    gap: 15px;
}

.pack4-content {
    background-color: #fdf5f5;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #3b3737;
    background-image: url('https://images.pexels.com/photos/255381/pexels-photo-255381.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    padding: 25px;
    padding-right: 50px;
    display: flex;
    margin-top: 5px;
    margin-left: 149px;
    margin-right: 149px;
    margin-bottom: 1px;
    gap: 15px;
}

.pack4-content h4{
    text-align: center;
}

.text-block1 {
    color: #fdf5f5;
    position: static;
    margin-bottom: 10px;
    text-align: left;
}

.image-pac {
    margin-top: 50px;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
}

.image-pac img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.image-pac h3 {
    color: rgb(16, 16, 16);
    position: static;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    bottom: 10px;
    right: 25px;
}
/* ===============================
   MOBILE VIEW (Max 768px)
================================= */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .title h1 {
        font-size: 28px;
    }

    .title p {
        font-size: 14px;
        padding: 0 10px;
    }

    .wrapper {
        width: 90%;
        margin: auto;
    }

    .rowitems {
        grid-template-columns: 1fr;
    }

    .package-content,
    .package2-content,
    .pack5-content,
    .location-content {
        grid-template-columns: 1fr;
    }

    .container1 {
        grid-template-columns: 1fr;
        margin: 10px;
        padding: 20px;
    }

    .box img {
        width: 100%;
        height: auto;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .newsletter {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    video {
        height: 100vh;
        object-fit: cover;
    }
}


/* ===============================
   TABLET VIEW (769px - 1024px)
================================= */
@media (min-width: 769px) and (max-width: 1024px) {

    .rowitems {
        grid-template-columns: repeat(2, 1fr);
    }

    .package-content,
    .package2-content,
    .pack5-content,
    .location-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .container1 {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }

    .title h1 {
        font-size: 40px;
    }
}


/* ===============================
   LARGE DESKTOP (1200px+)
================================= */
@media (min-width: 1200px) {

    .container,
    .package,
    .locations,
    .newsletter,
    .footer {
        max-width: 1200px;
        margin: auto;
    }
}
